<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
    <h1>Welcome to Memory Bank</h1>
    <h2>Organize Your Thoughts</h2>
    <h3><em>When you don't know where to look, look it up</em></h3>
    <div class="brain-emoji">🧠</div>
</body>

</html>